			{
				"path": "{+escJson(data.path)+}",
				"overview": {
					"name": "{+data.overview.getName()+}",
					"desc": "{+escJson(data.overview.getDesc())+}",
					"tag": [
						<for each="t" in="data.overview.get()">{
							"title": "{+t.title+}",
							"desc": "{+escJson(t.desc)+}"
						}<if test="!$t_last">,
						</if></for>
					]
				},
				"symbol": [<for each="symbol" in="data.symbols">
					{
						"isa": "{+(symbol.isa||'')+}",
						"name": "{+symbol.name+}",<if test="symbol.memberof">
						"memberof": "{+symbol.memberof+}",</if><if test="symbol.alias">
						"alias": "{+symbol.alias+}",</if>
						"desc": "{+escJson(symbol.getDesc())+}",<if test="(!symbol.is('OBJECT'))">
						"param": [
							<for each="p" in="symbol.get('param')">{
								"type": "{+(p.type||'')+}",
								"name": "{+p.name+}", 
								"desc": "{+escJson(p.desc)+} "
							}<if test="!$p_last">,
							</if></for>
						],</if>
						"property": [
							<for each="p" in="symbol.properties">{
								"name": "{+p+}"
							}<if test="!$p_last">,
							</if></for>
						],
						"method": [
							<for each="m" in="symbol.methods">{
								"name": "{+m+}"
							}<if test="!$m_last">,
							</if></for>
						],
						"tag": [
							<for each="t" in="symbol.get()">{
								"title": "{+t.title+}",
								"desc": "{+escJson(t.desc)+}"
							}<if test="!$t_last">,
							</if></for>
						]
					}<if test="!$symbol_last">,</if></for>
				]
			}
