
		{
			"path": "{+escJson(data.path)+}",
			"overview": {
				"name": "{+data.overview.getName()+}",
				"desc": "{+escJson(data.overview.getDescription())+}",
				"tags": [
					<for each="u" in="data.overview.getEtc()">{
						"title": "{+u.title+}",
						"desc": "{+escJson(u.desc)+}"
					}<if test="!$u_last">,
					</if></for>
				]
			},
			"symbols": [<for each="symbol" in="data.symbols">
				{
					"type": "{+(symbol.type||'')+}",
					"name": "{+symbol.name+}",
					"desc": "{+escJson(symbol.getDescription())+}"
					<if test="(!symbol.is('OBJECT'))">,
					"params": [
						<for each="p" in="symbol.get('param')">{
							"type": "{+(p.type||'')+}",
							"name": "{+p.name+}", 
							"desc": "{+escJson(p.desc)+} "
						}<if test="!$p_last">,
						</if></for>
					]</if>
				}<if test="!$symbol_last">,</if></for>
			]
		}
	]
