<file>
	<path>{+data.path+}</path>
	<overview>
		<name>
			{+data.overview.getName()+} 
		</name>
		<desc>
			{+data.overview.getDesc()+} 
		</desc>
		<for each="t" in="data.overview.get()"><tag>
			<title>{+t.title+}</title>
			<desc>{+t.desc+}</desc>
		</tag>
		</for>
	</overview>
	<for each="symbol" in="data.symbols">
	<symbol>
		<type>{+(symbol.type||'')+}</type>
		<name>
			{+symbol.name+} 
		</name>
		<desc>
			{+(symbol.getDesc()||"")+} 
		</desc>
		<if test="(!symbol.is('OBJECT') && !symbol.is('PROPERTY'))">
		<for each="p" in="symbol.get('param')">
		<param type="{+(p.type||'')+}">
			<type>
				{+(p.type||'')+}
			</type>
			<name>
				{+p.name+} 
			</name>
			<desc>
				{+(p.desc||"")+} 
			</desc>
		</param>
		</for></if>
		<for each="t" in="symbol.get()"><tag>
			<title>{+t.title+}</title>
			<desc>{+t.desc+}</desc>
		</tag>
		</for>
	</symbol>
	</for>
</file>
