<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>JsDoc</title>
	<style type="text/css" media="screen">
	/* <![CDATA[ */
		.content {
			border: 1px solid red;
		}
		.docs {
			border: 1px solid green;
			font: 12px verdana;
		}
		.item {
			border: 1px solid green;
		}
		.item {
			border: 1px solid green;
		}
		.itemTitle {
			border: 1px dotted gold;
			font-size: 18px;
			font-weight: bold;
		}
		.itemDesc {
			border: 1px dotted gray;
		}
		.itemDetail {
			border: 1px dotted blue;
		}
		
		.overview {
			background-color: pink;
		}
	/* ]]> */
	</style>
</head>
<body>
{! var library = data.overview.alias.replace(/[\/\\]/g, '_').replace(/\.js$/i, '') !}
<div class="content">
	<div class="docs">
		<div class="item overview">
			<div class="itemTitle">
				Overview: 
				<a name="{+library+}">
					{+data.overview.name+}
				</a>
			</div>
			
			<div class="itemDesc">{+data.overview.desc+}</div>
			<div class="itemTags">
			<for each="tag" in="data.overview.doc.tags">
				<dl>
					<dt>{+tag.title+}</dt>
						<dd>{+tag.desc+}</dd>
				</dl>
			</for>
			</div>
		</div>
		<for each="symbol" in="data.symbols">
		<if test="symbol.is('CONSTRUCTOR')">
		<div class="item symbol">
			<div class="itemTitle">
				{+symbol.isa+}: 
				<a name="{+symbol.alias+}">
					{+symbol.alias+}
				</a>
			</div>
			
			<div class="itemDesc">{+symbol.desc+}</div>
			
			<if test="symbol.methods.length">
			<for each="method" in="symbol.methods">
				<ul>
					<li>method: <a href="#{+method.alias+}">{+method.name+}</a></li>
				</ul>
			</for>
			</if>
			
			<if test="symbol.properties.length">
			<for each="property" in="symbol.properties">
				<ul>
					<li>property: <a href="#{+property.alias+}">{+property.name+}</a></li>
				</ul>
			</for>
			</if>
		</div>
		</if>
		</for>
		
		<for each="symbol" in="data.symbols">
		<if test="!symbol.is('CONSTRUCTOR')">
		<div class="item symbol">
			<div class="itemTitle">
				{+symbol.isa+}: 
				<a name="{+symbol.alias+}">
					{+symbol.alias+}<if test="symbol.is('FUNCTION')">({+symbol.signature()+})</if>
				</a>
			</div>
			
			<div class="itemDesc">{+symbol.desc+}</div>
			
			<if test="symbol.methods.length">
			<for each="method" in="symbol.methods">
				<ul>
					<li>method: <a href="#{+method.alias+}">{+method.name+}</a></li>
				</ul>
			</for>
			</if>
			
			<if test="symbol.properties.length">
			<for each="property" in="symbol.properties">
				<ul>
					<li>property: <a href="#{+property.alias+}">{+property.name+}</a></li>
				</ul>
			</for>
			</if>
		</div>
		</if>
		
		</for>
	</div>
</div>

</body>
</html>
